body {
    font-family: poppins;
	color : #00aaff;
    background-size: cover;
    background-repeat: no-repeat;
	background-color :#f0f8ff;
	
}

h1 {
    color: #0069b4;
	padding-top: 80px;
}

.faq-section {
    max-width: 600px;
    margin: 20px auto;
	padding-top: 30px;
	
}

.faq-item {
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
}

.faq-item:hover {
    border-color: #00aaff;
}

.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.faq-question .icon {
    font-size: 20px;
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.faq-question.active .icon {
    transform: rotate(180deg);
}

.faq-answer {
    padding: 15px;
    background-color: white;
    display: none;
    border-top: 1px solid #ddd;
    font-size: 16px;
}

.faq-answer p {
    margin: 0;
}

/* For open/close behavior */
.faq-item.active .faq-answer {
    display: block;
}
.text {
	text-align:center;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 60px;
}
