*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.icon ul li{
    display: inline;
    padding: 10px;
    text-decoration: none;
}
footer h4{
    padding-top: 15px;
    padding-bottom: 20px;
}
.qLinks{
    
}