body
{
    margin-top: 6%;
    margin-left: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    font-family: poppins;
    background-image: url(../images/login_back.jpg);
    background-size: cover;
    display: flex;
}

.formContain
{ 
    padding: 30px;
    border: none;
}

.loginBtn
{
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    background-color:#00aaff;
    color: white;
    border: transparent;
}

.loginBtn:hover
{
    background-color: #0069b4;
    cursor: pointer;
}

.clickReg
{
    text-align: center;
}

#log
{
    font-family: poppins;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 33, 91);
}

.formOut
{
    border-radius: 6px;
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#username
{
    width: 100%;
}

#password
{
    width: 100%;
}

fieldset
{
    border: none;
}

input
{
    padding: 10px 5px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 15px;
}

input:focus
{
    outline-color: #000a0f;
}

#regLink:hover
{
    cursor: pointer;
}