
body {
    font-family: poppins ;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 10px;  
    position: relative;
    background-image: url(../Images/managerdash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    min-height: 100vh;
}

.hello h1 {
    text-align: center;
    color: rgb(0, 33, 91);
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 60px;
    font-weight: bold;
}

.addremove {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.removeborder {
    padding: 50px;
    background-color: rgb(255, 255, 255,.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

.removeborder h2 {
    margin-top: 0;
    color: rgb(0, 33, 91);
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.check, .remove, .active{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 16px;
    margin-top: 10px;
}

.check {
    background-color: black;
}

.remove {
    background-color: red;
}

.active {
    background-color: rgb(37, 138, 221);
}
.addpart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;

}
.sbutton {
    background-color: rgb(37, 138, 221);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

.rbutton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

.check:hover, .remove:hover, .active:hover, .sbutton:hover, .rbutton:hover, .scalculate:hover, .addbase:hover {
    background-color: #006bb3;
}

.check { background-color: #4CAF50; }
.remove { background-color: #E74C3C; }
.active { background-color: #258ADD; }

.form {
    padding: 70px;
    background-color: rgb(255, 255, 255,.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form h2{
    color: rgb(0, 33, 91);
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

input{
    text-align: left;
    border:2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 70px 10px 10px ;
    font-size: 20px;
    margin-top: -10px;
}

.form p{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

.salarycal{
    align-items: center;
    padding-left: 80px;
    padding-top: 50px;
}

.salarycal {
    text-align: center;
    padding:50px 10px 50px 10px;
    margin-left:80px;
    margin-right: 80px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;   
}

.salarycal p{
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.salform{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.salarycal input{
    text-align:left;
    border:2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 100px 10px 10px ;
    font-size: 20px;
    margin-top: -10px;   
}

.salarycal h2{
    text-align: center;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    color: rgb(0, 33, 91);
}

.scalculate{
    background-color: rgb(37, 138, 221);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 16px;
    margin-top: 10px;
}

.separate-display {
    display: flex;
}

.sal-display h3{
    font-size: 40px;
}

.sal-display{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 180px;
    margin-left: 300px;
    margin-bottom: 400px;
    padding-left: 100px;
    padding-right: 100px;
}

.addbase{
    background-color: rgb(37, 138, 221);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px ;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom:50px;
}

.form p {
    margin-bottom: 15px;
}

.salarycal p {
    margin-bottom: 15px;
}