.inven-container .form-section{
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
h1{
    text-align: center;
}

.form-section {
    align-items: center;
}

.form-section table tr td{
    padding-top: 20px;
    font-size: 18px;
    padding-left: 60px;
}
.form-section table tr td input{
    font-size: 15px;
    padding: 5px;
}