#prdc-display{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#prdc-display #table {
    border-collapse: collapse;
    width: 100%;
}
#prdc-display #table th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(104, 105, 105);
}
#prdc-display #table td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #989797;
}
#prdc-display #table tr th {
    background-color: #00aaff;
}
#prdc-display #table tr:hover {
    background-color: #6b6c6c;
}